nav {
	width:100%;
	background: black;
	overflow:auto;
	padding: 1px 1px;
	font-family:Arial;
	color: white;
	position:sticky;
}

.imgs{
    height:100px;
    width:100;

}
.right{
    text-align: right;
}
.right ul li{
    display:inline-block;
    list-style:none;
    margin: 20px;
}
a{
    color: brown;
    text-decoration: none;
}
.a{
    float:left;
    color: red;
    font-size: 30px;
    font-family: Brush Script MT, cursive;
    padding:10px;
}
body{
    background-image: url("https://assets.bonappetit.com/photos/5db1b689823b960008d8468d/16:9/w_1643,h_924,c_limit/Chicken-Biryani-Lede-NEW.jpg");
    width:100%;
    height:100vh;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
span{
    font-size: 28px;
    cursor: pointer;
    margin: 0 20px;
    display: none;
}
.b{
    color: red;
    background-color: antiquewhite;
    width: 130px;
    height:60px;
    margin:0 auto;
    text-align:center;
    display: block;
}
.c{
    color: red;
    background-color: antiquewhite;
    width: 160px;
    height:160px;
    margin:0 auto;
    text-align:center;
    display: block;
}
@media screen and (max-width:720px){
    span{
        display: block;
    }
    .right ul li{
        display:block;
    }
    .right ul{
        display: none;
    }
    body{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/The_art_of_%22BIRYANI%22.jpg/1200px-The_art_of_%22BIRYANI%22.jpg");
        width:100%;
        height:100vh;
        background-attachment: fixed;
        position: relative;
    }

}
/* *{
    margin:0;
    padding:0;
    font-family:"Lucida Sans","Lucida Sans Regular","Lucida Grande','Lucida Sans Unicode",Geneva,Verdana,sans
 }
 body{
    background: aliceblue;
 }
 nav{
    background:rgb(193, 182, 182);
    padding:10px;
    /*color:#fff;
 }
.nav-right{
float:left;
}
.nav-left{
text-align:right;
}
.nav-left ul li{
list-style:none;
display:inline-block;
margin:20px;
}
span{
font-size:28px;
cursor:pointer;
margin:020px;
display:none;
}
@media only screen and (max-width:800px){
    span{
        display:block;
    }
    .nav-left ul li{
        display:block;
     
    }
    .nav-left ul{
        display:none;

    }
} */