/* nav {
	float:center;
	width:100%;
	background: black;
	overflow:auto;
	padding: 1px 1px;
	font-family:Arial;
	color: white;
	text-align:center;
	margin:0 auto;
  position:sticky;
}

.imgs{
    height:100px;
    width:100;

}
nav ul{
    list-style-type:none;
    float:right;
}
nav ul li{
    display:inline-block;
}
nav a{
width:100px;
display:block;
padding:20px 20px;
text-decoration:none;
font-family:Arial;
color: white;
text-align:center;

}
.a{
    float:left;
    color: red;
    font-size: 30px;
    font-family: Brush Script MT, cursive;
    padding:10px;
}
body{
    background-image: url("https://assets.bonappetit.com/photos/5db1b689823b960008d8468d/16:9/w_1643,h_924,c_limit/Chicken-Biryani-Lede-NEW.jpg");
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: relative;
}
@media screen and (max-width:620px){
    nav {
        float:center;
        width:100%;
        background: black;
        overflow:auto;
        padding: 1px 1px;
        font-family:Arial;
        color: white;
        text-align:center;
        margin:0 auto;
      position:sticky;
    }
    
    .imgs{
        height:100px;
        width:100;
    
    }
    nav ul{
        list-style-type:none;
        float:right;
    }
    nav ul li{
        display:inline-block;
    }
    nav a{
    width:100px;
    display:block;
    padding:20px 20px;
    text-decoration:none;
    font-family:Arial;
    color: rgb(79, 40, 40);
    text-align:center;
    
    }
    .a{
        float:left;
        color: rgba(93, 0, 255, 0.348);
        font-size: 30px;
        font-family: Brush Script MT, cursive;
        padding:10px;
    }
    body{
        background-image: url("https://assets.bonappetit.com/photos/5db1b689823b960008d8468d/16:9/w_1643,h_924,c_limit/Chicken-Biryani-Lede-NEW.jpg");
        width:100%;
        height:100vh;
        background-repeat:no-repeat;
        background-attachment: fixed;
        position: relative;
    }
} */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}