nav {
	width:100%;
	background: black;
	overflow:auto;
	padding: 1px 1px;
	font-family:Arial;
	color: white;
    margin:0 auto;
	position:sticky;
    
}

.imgs{
    height:100px;
    width:100;

}
.right{
    text-align: right;
}
.right ul li{
    display:inline-block;
    list-style:none;
    margin: 20px;
}
a{
    color: brown;
    text-decoration: none;
}
.a{float:left;
    padding:10px;
}
.a img{
  width:300px;
  height:100px;
}
  .centered {
    position: absolute;
    transform: translate(-10%, -50%);
    color:whitesmoke;
    font-size: xx-large;
    bottom: 250px;
    width:100%;
    font-family:Arial;
  }
  .centered1 {
    position: absolute;
    transform: translate(-10%, -50%);
    color:whitesmoke;
    right: -550px;
    font-size: xx-large;
    width:100%;
    font-family:Arial
  }
.container{
    text-align: center;
    color: red;
    margin-top: -300px;
}

span{
    font-size: 28px;
    cursor: pointer;
    margin: 0 20px;
    display: none;
}
.b{
    color: red;
    background-color: antiquewhite;
    width: 130px;
    height:60px;
    margin:0 auto;
    text-align:center;
    display: block;
}
.c{
    color: red;
    background-color: antiquewhite;
    width: 160px;
    height:160px;
    margin:0 auto;
    text-align:center;
    display: block;
}
.l{
    background-color: black;
    text-align: center;
    display: block;
    color: aliceblue;
    margin-top: -30px;
    width: 100%;
    height: fit-content;
}
.l ul li{
    display:inline-block;
    list-style:none;
    margin: 20px;

}
.fa-facebook{
    color: white;
    
        width: 60px;
      height: 50px;
  
   }
  .fa-instagram{
  
    color: white;
    
        width: 60px;
      height: 50px;
  
  }
  .fa-twitter{
      
    color: white;
    
        width: 60px;
      height: 50px;
  
      
  }
  
@media screen and (max-width:720px){
    span{
        display: block;
    }
    .right ul li{
        display:block;
    }
    .right ul{
        display: none;
    }
    body{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/The_art_of_%22BIRYANI%22.jpg/1200px-The_art_of_%22BIRYANI%22.jpg");
        width:100%;
        height:100vh;
        background-attachment: fixed;
        position: relative;
    }

}
/* *{
    margin:0;
    padding:0;
    font-family:"Lucida Sans","Lucida Sans Regular","Lucida Grande','Lucida Sans Unicode",Geneva,Verdana,sans
 }
 body{
    background: aliceblue;
 }
 nav{
    background:rgb(193, 182, 182);
    padding:10px;
    /*color:#fff;
 }
.nav-right{
float:left;
}
.nav-left{
text-align:right;
}
.nav-left ul li{
list-style:none;
display:inline-block;
margin:20px;
}
span{
font-size:28px;
cursor:pointer;
margin:020px;
display:none;
}
@media only screen and (max-width:800px){
    span{
        display:block;
    }
    .nav-left ul li{
        display:block;
     
    }
    .nav-left ul{
        display:none;

    }
} */